@import "_vars.scss";
@import "_mixins.scss";

.advantages {
  color: $text-dark;
  &__container {
    padding-top: 109px;
    padding-bottom: 80px;
    @media (max-width: 1024px) {
      padding-top: 80px;
    }
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__wrapper {

  }
  &__list {

  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      &--middle {
        flex-direction: column-reverse;
      }
    }
  }
  &__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 1024px) {
      width: calc(50% - 5px);
    }
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 24px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 88px;
    text-transform: uppercase;
    margin-bottom: 4px;
    @media (max-width: 1112px) {
      line-height: 42px;
    }
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }
  &__separator {
    position: relative;
    z-index: 1;
    left: -54px;
    width: 108px;
    height: 2px;
    background-color: $text-reviews;
    margin-bottom: 16px;
  }
  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $text-body;
  }
  &__img {
    @media (max-width: 1024px) {
      width: calc(50% - 5px);
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}