@import "vars";

.arrow {
  position: absolute;
  svg {
    path {
      stroke: $text-main;
      transition: stroke .3s;
    }
  }
  &:hover {
    svg {
      path {
        stroke: $text-reviews;
      }
    }
  }
  &::after {
    content: '';
  }
  &--next {
    &-reviews {
      @media (max-width: 900px) {
        display: none;
      }
    }
    &-photos {
      position: static;
    }
  }
  &--prev {
    &-reviews {
      @media (max-width: 900px) {
        display: none;
      }
    }
    &-photos {
      position: static;
    }
  }
}