@import "_vars.scss";
@import "_mixins.scss";

.header {
  position: relative;
  z-index: 1;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-main;
  @media (max-width: 768px) {
    .nav--desktop {
      display: none;
    }
    .call--desktop {
      display: none;
    }
  }
  &__container {
    padding-top: 55px;
    @media (max-width: 1024px) {
      padding-top: 20px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__main {
    @media (max-width: 900px) {
      max-width: 150px;
    }
  }
  &__burger {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 30px;
    @media (max-width: 768px) {
      display: flex;
    }
  }
  &__line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: $text-main;
    border-radius: 10px;
  }
  &__mobile {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right: 0;
    left: 0;
    color: $text-dark;
    background-color: $text-main;
    padding: 36px 24px;
    transition: transform .5s;
    @media (max-width: 768px) {
      display: flex;
      transform: translateX(-100%);
      .nav {
        &__list {
          flex-direction: column;
          margin-bottom: 36px;
          align-items: flex-start;
        }
        &__item {
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        &__link {
          font-size: 24px;
        }
      }
    }
    &--active {
      transform: translateX(0);
    }
  }
  &__close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 30px;
    &-line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $text-dark;
      border-radius: 10px;
      &--1 {
        transform: rotate(45deg);
      }
      &--2 {
        transform: rotate(-45deg) translateY(-3px);
      }
    }
  }
}