@import "_vars.scss";
@import "_mixins.scss";

.hero {
  max-width: 1920px;
  margin: -110px auto 0 auto;
  background-image: url("../img/hero-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 265px 0;
  color: $text-main;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__schedule {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;letter-spacing: .06em;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    margin-bottom: 40px;
  }
  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}