@import "_vars.scss";
@import "_mixins.scss";

.schedule {
  color: $text-dark;
  &__container {
    padding-top: 80px;
    padding-bottom: 178px;
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 1400px) {
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 768px) {
      align-items: flex-start;
    }
  }
  &__list {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 1400px) {
      width: 75%;
      margin-bottom: 75px;
    }
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 0;
    }
  }
  &__item {
    padding-bottom: 20px;
    border-bottom: 1px solid $border;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  &__info {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__dish {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
  &__circles {
    display: flex;
    padding: 0 12px;
  }
  &__circle {
    width: 5px;
    height: 5px;
    background-color: $text-reviews;
    border-radius: 100px;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  &__photos {
    position: relative;
    width: 40%;
    height: 502px;
    border: 2px solid $text-reviews;
    @media (max-width: 1204px) {
      width: 70%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__photo {
    position: absolute;
    &--1 {
      bottom: -85px;
      left: -97px;
    }
    &--2 {
      top: -51px;
      right: -100px;
    }
  }
}